@page "/register"

@using Surveynetic.Shared.DTO.Account
@using System.Net.Http
@using System.Text.Json
@using System.Text

@inject HttpClient Http
@inject NavigationManager NavManager

<h1>Register</h1>

<EditForm Model="Dto" OnValidSubmit="OnValidAsync" style="max-width:500px">
    <FluentValidationValidator />
    <p class="mb-2">
        <label>Username</label>
        <InputText class="form-control" @bind-Value="Dto.UserName" />
        <ValidationMessage For="@(() => Dto.UserName)" />
    </p>
    <p class="mb-2">
        <label>E-mail</label>
        <InputText class="form-control" @bind-Value="@Dto.Email" />
        <ValidationMessage For="@(() => Dto.Email)" />
    </p>
    <p class="mb-2">
        <label>Password</label>
        <InputText class="form-control" type="password" @bind-Value="@Dto.Password" />
        <ValidationMessage For="@(() => Dto.Password)" />
    </p>
    @if (isSending)
    {
        <button class="btn btn-primary float-right search disabled" disabled>
            <span class='fa-left fas fa-sync-alt spinning'></span> Signing Up...
        </button>
    }
    else
    {
        <button class="btn btn-primary btn-outline-primary float-right search" type="submit"> Sign Up </button>
    }
</EditForm>

@code {
    private readonly RegisterDto Dto = new();

    private bool isSending;

    private async Task OnValidAsync()
    {
        var content = new StringContent(JsonSerializer.Serialize(Dto), Encoding.UTF8, "application/json");
        isSending = true;
        var responce = await Http.PostAsync("https://localhost:44385/account/register", content);
        isSending = false;
        NavManager.NavigateTo("/login");
    }
}